.aboutParallax {
    position: relative;
    /* background-image: url("/images/background.png");  */
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; */
    /* background-size: cover; */
    height: 100vh;
    width: 100%;
    /* padding: 40px; */
}
.container-fluid {
    padding: 0;
}
.topRowAbout {
    width: 100%;
    height: 50vh;
    padding-top: 80px
}
.row.bottomRowAbout {
    background-color: rgba(24, 24, 24, .9);  
    opacity: 1;
    bottom: -600px;
    width: 100%;
    height: 50vh;
    margin: 0;
    padding-top: 70px
}

h2.h2bio {
    
    /* padding: 30px 0 0 0; */
    /* margin: 100px 0 0 0; */
    font-family: 'Revalia', cursive;
    color: rgb(255, 255, 255);
    font-size: 4em;
    text-shadow: none;
    text-align: center;
}

.bioImg {
    width: 250px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255, .5);
    text-align: center;
}

.bioText {
    position: relative; 
    font-family: 'Cairo', sans-serif; 
    font-size: 1.1em;
    color: white;
    text-align: justify;
    /* background-color: rgba(24, 24, 24, 0.8); */
    /* padding: 30px; */
    border-radius: 10px 0;
    /* width: 80%; */
}
.techImg {
    margin-top: 30px;
    text-align: center;
}
.techIcon {
    opacity:.7;
    margin: 5px;
    width: 50px;
    
}


/* .overlay {
    position: absolute;
    background-color: rgba(24, 24, 24, .9);  
    background-image: url("/images/code3.jpg");  
    opacity: 1;
    bottom: -600px;
    left:0;
    width: 100%;
    height: 200%;
    border-bottom: double rgb(255, 255, 255, .6) 2px;
    z-index: 1;
} */
/* .overlay2 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);  
    top: 100px;
    left:0;
    width: 50%;
    height: 80%;
    border-right: double white 2px;
    z-index: 1;
} */
/* .aboutTitle{
    position: absolute;
    margin: 0;
    z-index: 10;
    top: 175%;
    left: 37%;

} */

/* .bioTextDiv {
    margin: 10px 0 0 30px;
    position: absolute;
    right: 0;
    bottom: -500px;
    width: 100%;
    text-align: center;
    padding: 30px 100px 10px;
    background-color: rgba(24, 24, 24, 0.9);
    z-index: 5;
} */

/* .bioDiv {
    position: absolute; 
    top: 50%;
    left: 40%;
    text-align: center;
    margin: 50 0 0 0;
    z-index: 10;
} */