#about {
    position: relative;
    background-color: black;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: .7fr 1fr;
    /* background-image: url("../images/back1.jpg");  */
    /* background-attachment: fixed;
    background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    height: 100vh;
    /* padding: 40px 80px; */
}
.overlay {
    background-color: rgba(71, 71, 71, 0.5);
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    /* height: 100%; */
    z-index: 1;
}
.aboutTitle{
    grid-column-start: 1;
    grid-column-end: 4;
}
p.h1bio {
    position: relative;
    padding: 40px 0 0 0;
    margin: 100px 0 0 0;
    color: white;
    font-size: 5em;
    text-shadow: rgb(32, 32, 32, 0.6) 2px 4px;
    text-align: right;
    z-index: 10;
   
}

.bioDiv {
    grid-column-start: 1;
    grid-column-end: 2;
}

.bioImg {
    position: relative;  
    width: 250px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 0 auto;
    z-index: 10;

}
.bioTextDiv {
    grid-column-start: 3;
    margin: 10px 0 0 30px;
    position: relative;

}
.bioText {
    position: relative;  
    font-size: 1.2em;
    color: white;
    text-align: justify;
    background-color: rgba(24, 24, 24, 0.8);
    padding: 30px;
    border-radius: 10px;
    z-index: 10;
}