#footer {
    min-height: 10vh;
}
.footerText {
    font-family: 'Roboto Condensed', sans-serif;
    text-align:center;
    margin: 30px 0;   
}
.footerCount {
    text-align:center;
    margin:0;
    opacity: .5;   
}
.footerText a {
    color: #aaa;
    text-decoration: none;
}
.footerText a:hover {
    color: #ccc;
    text-decoration: underline;
}