@keyframes example {
  from {opacity: 0;}
  to {opacity: 1;}
}

.introPage {
    position: relative;
    background-color: black;
    width: 100%;
    height: 100vh;
    animation-name: example;
    animation-duration: 2s;
}

.content {
    position: absolute;
    top: 0;
    color: #f1f1f1;
    width: 100%;
    height: 100%;
  }

  .headingIntro {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    z-index:10;
}
  .introTitle{
    color: white;
    text-align: center;
    font-family: 'Prosto One', cursive;
    font-size: 3em;
}

.introSubTitle {
  text-align: center;
  left: 0;
  top:55%;
  font-family: 'Oswald', sans-serif;
  color: rgb(255, 255, 255, .3);
  z-index: 500;
  padding-right: 20px;
  animation-name: example;
  animation-duration: 5s;
  animation-timing-function: ease-in;

}

@media screen and (max-width: 600px) {
  .introSubTitle {
    font-size: 1.5em;
    padding-right: 0;
  }
  .introTitle{
    font-size: 40px;
    padding-right: 0;
  }
}
@media screen and (max-width: 350px) {
  .introSubTitle {
    font-size: 1em;
    padding-right: 0;
  }
  .introTitle{
    font-size: 25px;
    padding-right: 0;
  }
}